<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Overlay</title>
    <link rel="stylesheet" href="../../assets/fonts.css">
    <link rel="stylesheet" href="../../assets/stylessheets/contact_overlay.css">
    <script src="/js/scripte.js"></script>
    <script src="/js/contacts.js"></script>
    <script src="/js/mini_backend.js"></script>
    
</head>
<body>

    <div>
        <div class="overlay">

            <div class="content">
                <img src="/assets/img/join-logo-white.png" alt="">
                <h1>Add Contact</h1>
                <span>Tasks are better with a team!</span>
            </div>

            <div class="contacts">
                <img class="contacts-img" src="/assets/img/profile-dummy.png" alt="">

                <form id="form"  onsubmit="newContact(); return false;">
                    <div class="input-content">
                        <div  class="input-name">
                            <input id="newContact-name" placeholder="Name" class="input-name-child" type="name">
                            <img  src="/assets/img/name.png" alt="">
                        </div>

                        <div class="input-email">
                            <input id="newContact-email"  placeholder="E-mail" class="input-email-child" type="email">
                            <img src="/assets/img/umschlag.png" alt="">
                        </div>

                        <div class="input-phone">
                            <input id="newContact-phone" placeholder="Phone" class="input-phone-child" type="number" name="phone">
                            <img src="/assets/img/phone.png" alt="">
                        </div>

                        <div class="buttons">
                            <button onclick="closeNewContact()" value="submit" type="submit" class="btn-two">Create contact <img style="height: 12px;" src="/assets/img/arrow.png" alt=""></button>
                            <button onclick="closeNewContact()" class="btn-one">Cancel <img style="height: 12px;" src="/assets/img/closeX.png" alt=""> </button>
                        </div>

                    </div>
                </form> 
                
                <!-- <div class="buttons"> -->
                    <!-- <button class="btn-one">Cancel <img style="height: 12px;" src="/assets/img/closeX.png" alt=""> </button> -->
                   
                    <!-- <button onclick="closeNewContact()" class="btn-one">Cancel <img style="height: 12px;" src="/assets/img/closeX.png" alt=""> </button> -->

                <!-- </div> -->
                

            </div>

            <!-- <div class="buttons">
                <button onclick="closeNewContact()" class="btn-one">Cancel <img style="height: 12px;" src="/assets/img/closeX.png" alt=""> </button>
                <button class="btn-two">Create contact <img style="height: 12px;" src="/assets/img/arrow.png" alt=""></button>
            </div> -->

        </div>
    </div>
</body>
</html>
