<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Overlay</title>
    <link rel="stylesheet" href="../../assets/fonts.css">
    <link rel="stylesheet" href="../../assets/stylessheets/contact_overlay.css">
</head>
<body>

    <div>
        <div class="overlay">

            <div class="content">
                <img src="/assets/img/join-logo-white.png" alt="">
                <h1>Add Contact</h1>
                <span>Tasks are better with a team!</span>
            </div>

            <div class="contacts">
                <img src="/assets/img/profile-dummy.png" alt="">

                <input placeholder="Name" type="text">
                <input placeholder="E-mail" type="text">
                <input placeholder="Phone" type="text">

            </div>

            <div class="buttons">
                <button class="btn-one">Cancel</button>
                <button class="btn-two">Create contact</button>
            </div>

        </div>
    </div>
</body>
</html>
