.addTask {
    display: flex;
    flex-direction: column;

}

span {

    width: 86px;
    height: 23px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #42526E;
    flex: none;
    order: 0;
    flex-grow: 0;
}


form {
    margin-left: 75px;
    display: flex;
}

.title {
    width: 215px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 74px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;

}



.dueDate {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    isolation: isolate;
    width: 422px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.category {

    width: 175px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #000000;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.priority {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 22px;

}

.b1 {
    width: 74px;
    height: 23px;

    /* Version 2/t6 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    /* identical to box height, or 23px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* Frame 14 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 136px;
    height: 51px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.b2 {
    width: 74px;
    height: 23px;

    /* Version 2/t6 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    /* identical to box height, or 23px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* Frame 25 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 136px;
    height: 51px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.b3 {
    width: 74px;
    height: 23px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.description {
    width: 170px;
    height: 23px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 103px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttonConfirm {
    display: flex;
    gap: 10px;

}

.buttonClear {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: 10px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #647188;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.buttonCreateTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #4589FF;
    border-radius: 10px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-box {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 35%;
    padding: 10px;

}




input {
    width: 100%;
    padding: 12px 20px;
    padding-bottom: 18px!important;
    box-sizing: border-box;
    border: none;
    font-size: 19px;

    outline: none;
}

input:active:focus {
    border-color: transparent;

}

button:hover {
    cursor: pointer;

}

.priority button:nth-child(1):hover{
    box-shadow: 0 4px 2px -2px #FF3D00;
}

.priority button:nth-child(2):hover{
    box-shadow: 0 4px 2px -2px #FFA800;
}

.priority button:nth-child(3):hover{
    box-shadow: 0 4px 2px -2px #7AE229;
}


select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

select:active:focus {
    border-color: transparent;

}

.selectAll{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 422px;
    padding: 0 21px 0 0;
    font-size: 19px;
}

.selectName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 21px 18px 21px;
    width: 400px;

}

.input_select_contacts{
    display: flex;
    align-items: center;
    width: 422px;
    padding: 18px 0 0px;
    border-bottom: 1px solid #D1D1D1;
}

.selectContacts{
    margin-bottom: 18px;
}

.input_select_contacts input::placeholder{

    color: black;
    opacity: 1;
}
.selectAll a {
    color: black;
    text-decoration: none !important;
    
}
.selectAll a:hover {
    text-decoration: none !important;
    color: black;
    background-color: #D2E3FF;
   
}

.showCreateTask{
    background-color: #4589FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    width: 350px;
    display: flex;
    left: 50vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50vh; 
    animation: mymoveUp 330ms ease-in-out; 
    position: relative;
}


  @keyframes mymoveUp {
    from {bottom: 0vh;}
    to {bottom: 50vh;}
  }


  .downShowCreateTask {
    bottom: 0vh; 
    animation: mymoveDown 330ms ease-in-out; 
    position: relative;
    

  }

  @keyframes mymoveDown {
    from {bottom: 50vh;}
    to {bottom: 0vh;}
  }
  

.d-none{
    
    display: none;
    
}

