body {
    margin: 0;
    font-family: 'inter';
}

.main {
    height: 100vh;
}

.headline {
    color: white;
    margin-right: 20px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #4589FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img{
    margin-left: 40px;
}

.header-right{
    align-items: center;
    display: flex;
    margin-right: 40px;
}

.header-profile{
    border-radius: 100%;
    border: 3px solid white;
    margin-left: 20px;

}

.sidebar {
    width: 230px;
    background-color: white;
    min-height: 89vh;
    height: 89vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
}

.icons {
    margin-top: 40px;
}

.icons img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.icons-style {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icons-style a{
    text-decoration: none;
    color: black;
}

.icons-style:hover, .flex-items:hover{
  background-color: #4589ff5c;
    border-radius: 8px;
    cursor: pointer;
}

.legal-notice img {
    margin-right: 10px;
   
}
.legal-notice{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.flex-items{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 125px;
}

/* .flex-items:hover{
    background-color: #d2e3ff;
    border-radius: 8px;
    cursor: pointer;
} */

.flex-items a {
    text-decoration: none;
    color: black;
}
