:root {
    --primary: #4589ff;
}

h1, h2, h3 {
    color: var(--primary);
}

.help-content {
   
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px; 
}

li::marker {
    color: var(--primary); 
  }

