:root {
    --primary: #4589ff;
}

h1 {
    color: var(--primary);
}

.legal-notice-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.legal-notice-headline img {
    height: 20px;
}

.legal-notice {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px; 
}
