body{
    font-family: 'Inter';
}

#content{
    background: #FFFFFF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: relative;
    width: 623px;
    height: 818px;
    background: #FFFFFF;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

#taskCardName{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 36.5px;
    gap: 10px;
    width: 129px;
    height: 36px;
    background: #FC71FF;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#taskCardName-child{
    width: 56px;
    height: 28px;
    /* Version 2/t5 */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#taskCardTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 523px;
    height: 146px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

#taskCardDescription{
    width: 523px;
    height: 146px;
    /* Version 2/t1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#taskCardText{
    width: 518px;
    height: 50px;
    /* Version 2/t6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

#taskDatecontent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 246px;
    height: 25px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.taskFixText{
    width: 99px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    /* or 25px */
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#taskPrioritycontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 232px;
    height: 31px;
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
}

/* #taskPriorityText{
    width: 134px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    /* black 
    color: #000000;
    /* Inside auto layout 
    flex: none;
    order: 5;
    flex-grow: 0;
    z-index: 5;
    
} */

.taskAssignedText{
    width: 134px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    z-index: 5;
}

.assignedUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 231px;
    height: 45px;
    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;
}

.assignedUserName{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    background: #9327FF;
    /* white */
    border: 2px solid #FFFFFF;
    border-radius: 58px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.assignedUserName-child{
    width: 22px;
    height: 19px;
    /* Version 2/body */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.assignedUserNameText{
    display: flex;/* selber hinzugefügt*/
    width: 161px;
    height: 25px;
    /* Version 2/t6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* or 25px */
    text-align: center;
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#taskPrioritycontent-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    width: 125px;
    height: 31px;
    background: #FFD2D2;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.taskPrioritytext{
    width: 62px;
    height: 23px;
    /* Version 2/t6 */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    /* identical to box height, or 23px */
    /* black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskPrioritytext-img{
    width: 17px;
height: 12px;

transform: rotate(-180deg);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
